In [1]:
from pandas import read_csv, concat

In [2]:
from assay_processing import regression_extract, build_t2, build_t3, build_t4

---
## Read Data

In [3]:
input_directory = 'data'
output_directory = 'deliverables/regression'

In [4]:
files = [
    'admet_tox.csv',
    'binding_functional.csv',
    'physico_chemical.csv',
]
file_paths = [f'{input_directory}/{f}' for f in files]

In [5]:
dfs = [read_csv(file_path, low_memory=False) for file_path in file_paths]
df = concat(dfs, sort=False)

---
## Extract Tables for Regression

In [9]:
t3_df, t4_df = regression_extract(df)

In [8]:
t2_df = build_t2(df)
t3_df = build_t3(t3_data)
t4_df = build_t4(t4_data)

ValueError: DataFrame constructor not properly called!

---
## Preview

In [12]:
t2_df.head(10)

   input_compound_id                                             smiles
0            1075529           Cc1cc(NC(=O)Nc2ccc(cc2)C(=O)O)c3ccccc3n1
1            1203610    Clc1ccc(cc1)C(N2CCN(CC2)C(=O)Nc3ccccc3)c4cccnc4
2            1203845        CS(=O)(=O)N1CCN(CC1)C(c2ccc(Cl)cc2)c3cccnc3
3            1203966    Fc1cc(Cl)ccc1C(N2CCN(CC2)C(=O)C3CCCCC3)c4cccnc4
4            2176418  [O-][N+](=O)c1ccccc1S(=O)(=O)Nc2ccc(cc2)c3oc4c...
5               9495  CC[C@H](C)C(=O)O[C@H]1C[C@@H](C)C=C2C=C[C@H](C...
6              88232     COc1cc2ncnc(Nc3ccc(F)c(Cl)c3)c2cc1OCCCN4CCOCC4
7                173     COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c3ccc(Cl)cc3
8              21523  COc1cc(ccc1Cc2cn(C)c3ccc(NC(=O)OC4CCCC4)cc23)C...
9             365189  CO[C@H]1\C=C\O[C@@]2(C)Oc3c(C)c(O)c4c(O)c(NC(=...

In [10]:
t3_df.head(10)

   input_assay_id  regression_task_id assay_type  target_id
0          729459                   0       ADME      81020
1          942987                   1       ADME      81135
2         1617702                   2      PANEL      22221
3         1678646                   3       ADME     102723
4          305428                   4       ADME      12594
5          451490                   5       ADME      80583
6          762745                   6       ADME      22224
7          425249                   7       ADME      80156
8         1572745                   8       ADME      22224
9          458976                   9       ADME      11365

In [11]:
t4_df.head(10)

,input_compound_id,regression_task_id,standard_value,standard_relation,standard_units,standard_type
0,1075529,0,25000.0,>,nM,EC50
1,1203610,1,67000.0,=,nM,IC50
2,1203845,1,100000.0,>,nM,IC50
3,1203966,1,62000.0,=,nM,IC50
4,2176418,2,60000.0,=,nM,EC50
5,9495,3,133000.0,=,nM,IC50
6,88232,3,133000.0,=,nM,IC50
7,173,3,66000.0,=,nM,IC50
8,21523,3,133000.0,=,nM,IC50
9,365189,3,69000.0,=,nM,IC50

---
## Export

In [13]:
t2_df.to_csv(output_directory + '/T2.csv', index=False)
t3_df.to_csv(output_directory + '/T3.csv', index=False)
t4_df.to_csv(output_directory + '/T4.csv', index=False)